<!-- Javascript files-->
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="{% static 'dist/js/tether.min.js' %}"></script>
<script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dist/js/jquery.cookie.js' %}"></script>
<script src="{% static 'dist/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'dist/js/front.js' %}"></script>
