{% load static %}
<section id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<a href="/" class="footer-logo"><img src="{% static 'images/logo-final.png' %}" alt="Life at code"></a>
			</div>
			<div class="col-md-12 col-sm-12 text-center privacy-link">
				<a href="/privacy">PRIVACY POLICY</a> |
				<a href="/refund">REFUND POLICY	</a>
			</div>
		</div>
	</div>
	<div class="container footer-content">
		<hr style="border-color:#484288;">
		<div class="row text-center social">
			<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="facebook">
					<a href="http://facebook.com/lifeatcode" target="_blank"><i class="fa fa-facebook "></i></a>
				</div>

				<div class="twitter">
					<a href="http://twitter.com/vubonroy" target="_blank"><i class="fa fa-twitter "></i></a>
				</div>
				<div class="google">
					<a href="#"><i class="fa fa-google-plus "></i></a>
				</div>
				<div class="iemail">
					<a href="mailto:vubon.roy@gmail.com"><i class="fa fa-envelope-o "></i></a>
				</div>

			</div>

		</div>
	</div>
</section>
