{% extends 'layouts/base.html' %}
{% block title %} Privacy {% endblock %}
{% block content %}
<section>
    <div class="wrapper icon-content privacy-header">
        <div class="container-portfolio">
           <h1 class="animated wow fadeInUpBig animated">Privacy Policy</h1>
        </div>
    </div>
</section>
<section id="policy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>PRIVACY POLICY</h1>
                <p>The security of your Personal Information is important to us and will take all measures to protect your personal information. We do not sell, trade, or rent Users personal identification information to others.</p>
                <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name (“Personal Information”).</p>
                <p>We collect this information for the purpose of providing the Service, identifying and communicating with you, responding to your requests/inquiries, servicing your purchase orders, and improving our services.</p>
                <h3>Changes To This Privacy Policy</h3>
                <p>We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>
                <p>If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- border of footer top -->
<section id="footer-portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/contacts" title="Contacts">Hire Vubon to work on your project </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
