{% extends 'layouts/base.html' %}
{% block title %} Refund {% endblock %}
{% block content %}
<section>
    <div class="wrapper icon-content refund-header">
        <div class="container-portfolio">
           <h1 class="animated wow fadeInUpBig animated">Refund Policy</h1>
        </div>
    </div>
</section>
<section id="policy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>REFUND POLICY</h1>
                <p>We offer refunds to any unsatisfied customer up to 30 days after the purchase was made. If you would like your money back, simply send us an email.</p>
                <h2>We grant refund if :</h2>
                <ul>
                    <li><span> The product purchased has stopped functioning or displaying that we described to it’s details, or broken after the installation and we are not able to give you solution.</span></li>
                </ul>
                <h2>We don’t grant refund if :</h2>
                <ul>
                    <li><span>If you opened any dispute before telling our support team about your problem.</span></li>
                    <li><span>If you are not able to configure for lack of skill.</span></li>
                    <li><span>If your web host doesn’t meet the requirements.</span></li>
                    <li><span>You changed your mind about the purchase.</span></li>
                    <li><span>You choose not to use the product anymore.</span></li>

                </ul>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- border of footer top -->
<section id="footer-portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/contacts" title="Contacts">Hire Vubon to work on your project </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
